/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */


/* common shared style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono";
}

.primary-title {
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.primary-paragraph {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.primary-subtitle {
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
    /* 150% */
}

.primary-btn {
    color: #0D1321;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #0D1321;
    opacity: 0.7;
    padding: 12px 20px;
    margin-top: 32px;
}

.para-width {
    /* padding: 0 50px; */
    width: 852px;
    text-align: center;
}

.primary-para-width {
    width: 468px;
}

.content-container {
    width: 852px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}



/* nav section style start */
.nav {
    max-width: 1325px;
    padding: 35px 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-txt {
    color: #0D1321;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav .nav-btn {
    color: #0D1321;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 7px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    padding: 16px 22px;
}


/* header banner section style start */
.header-banner {
    width: 100%;
    min-height: 652px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content-container {
    width: 998px;
    height: 581px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.banner-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: #0D1321;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

.banner-btn {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #0D1321;
    padding: 21px 24px;
    margin-top: 32px;
}
.banner-btn:hover{
    cursor: pointer;
}

/* header banner section style end */



/* why web dev section style start */
.why-web {
    max-width: 1140px;
    /* max-width: 80%; */
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
}

/* .why-web-container {} */

.web-title {
    margin-bottom: 24px;
}

.div-card {
    /* width: 70%; */
    width: 946px;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-second {
    justify-content: flex-start;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.primary-btn:hover{
    cursor: pointer;
}

/* why web dev section style end */


/* Inspiration section style start */
.inspiration {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 151px;
}
.inspiration-para{
    text-align: center;
    margin-top: 24px;
}

.vedio {
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    padding: 32px;
    height: 550px;
}

.vedio iframe {
    border-radius: 16px;
}

/* Inspiration section style end */


/* Current target section style start */

.current-target {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 151px;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.card {
    padding: 40px;
    border-radius: 16px;
}

.card-paragraph {
    margin-bottom: 24px;
}

.card-title {
    color: #0D1321;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
}

.card-link {
    color: #0D1321;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.card-1 {
    background: rgba(255, 76, 30, 0.05);
    width: 364px;
    height: 299px;
}

.card-2 {
    background: rgba(0, 76, 232, 0.05);
    width: 364px;
    height: 299px;
}

.card-3 {
    background: rgba(255, 223, 0, 0.05);
    width: 364px;
    height: 299px;
}

/* Current target section style end */



/* Support section style start */
.support {
    max-width: 1140px;
    min-height: 313px;
    margin: 0 auto;
    margin-top: 111px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 64px 48px;
    border-radius: 16px;
}

.support-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.support-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 112.5% */
}

.support-paragraph {
    color: #FFF;
    text-align: center;
    width: 606px;
}

.input {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.support-input {
    color: rgba(13, 19, 33, 0.40);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 19px 20px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    width: 548px;
}

.submit {
    color: #0D1321;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 17px 20px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.submit:hover {
    cursor: pointer;
}

/* Support section style end */


/* footer section style start */
.foot {
    width: 100%;
    min-height: 100px;
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    color: #0D1321;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

ul li {
    list-style: none;
}

/* footer section style end */